h1 {
font-size: 8rem;
font-weight: 600;
border-bottom: 0.5rem solid #E31A4F;
margin-bottom: 2rem;
}

h1 small {
font-weight: 100;
text-transform: uppercase;
color: #231F20;
}

.subtitle {
font-size: 2rem;
}

h2 {
font-size: 4rem;
font-weight: 100;
border-bottom: 0.5rem solid #E31A4F;
margin-bottom: 2rem;
}

body {
background-color: #F9F8F6;
}

.section {

}

#header {
text-align: center;
background-color: #F9F8F6;
border-bottom: 1px solid #E31A4F;
position: fixed;
top:0;
z-index: 1300;
width: 100vw;
}

#header a {
padding: 0.25rem 2rem;
}

#fp-nav ul li .fp-tooltip {
	color: #F9F8F6;
	background-color: #E31A4F;
	padding: 0.25rem;
}

@media screen and (max-width: 63em) {
	h1, h1 small {
	font-size: 3rem;
	}
	h2 {
	font-size: 2rem;
	}
	img {
	float: left;
	max-width: 50%;
	padding-right: 2rem;
	}
	.caption {
	border-top: 1px solid #E31A4F;
	padding-top: 0.5rem;
	}
}